.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 3rem;
  align-items: center;
  justify-content: space-around;
  column-gap: -1rem;
  /* padding: 0rem 4rem; */
  width: 100vw;
  padding: 0.1rem 0.5rem;
}
.star {
  display: flex;
  flex-direction: column;
  margin-left: -8rem;
  align-items: center;

  /* margin: 2rem;
  padding: 2rem; */
  grid-column: 1 / 4;
}
svg {
  width: 24px;
  height: 24px;
  margin: 0px;
  padding: 0px;
  fill: rgb(221, 221, 96);
  stroke: rgb(221, 221, 96);
}
span {
  color: rgb(221, 221, 96);
}
.star p {
  margin: 0px;
  padding: 0px;
}
/* .header-btn {
  display: flex;
  justify-content: space-between;
} */
.body {
  background-image: linear-gradient(#00000085, #00000085), url(hotel.jpg);
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
body {
  height: 100vh;
  box-sizing: border-box;
  font-family: sans-serif;
}
.body h1,
.body h1 + p {
  color: #fff;
}
button {
  background-color: rgb(221, 221, 96);
  color: #fff;
  border: 0px;
  width: 10rem;
  padding: 0.7rem 1.5rem;
  border-radius: 0.2rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
}
a:link,
a:visited {
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
}
.first-body {
  width: 50%;
  padding: 9rem;
}
.header button {
  margin-left: 0px;
}
.first-body h1 {
  text-transform: capitalize;
  max-width: 90%;
}
.second-body {
  background-color: #fff;
  margin: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 80%;
  gap: 1.5rem;
  justify-content: left;
  max-width: 55%;
  border-radius: 0.2rem;
}
h2 {
  margin: 0px;
  padding: 0px;
  font-size: 1.3rem;
}
.first-link:link,
.first-link:visited {
  color: rgb(221, 221, 96);
}
.first-body p {
  max-width: 80%;
  font-size: 0.9rem;
}
.second-body p {
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.text-box {
  height: 50%;
  padding-left: 0.5rem;
}
.second-body button {
  width: 100%;
}
.last-header {
  width: 25%;
  margin: 0px;
  padding: 1.5rem 0rem 0rem 9rem;
  font-size: 2rem;
}
.last-header::first-letter {
  text-transform: uppercase;
}
